---
import Layout from '~/layouts/PageLayout.astro';
import { Image } from 'astro:assets';
import logo from '~/assets/images/CP STACKED Home Page.webp';
import missionStatement from '~/assets/images/Mission statement home page.webp';

const metadata = {
  title: 'Claire Pardington',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <section class="h-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center gap-[72px]">
      <!-- Image 1 -->
      <Image
        src={logo}
        alt="Claire Pardington - Creative Direction & Design"
        class="w-full max-w-[300px] md:max-w-[20vw] h-auto"
      />

      <!-- Image 2 -->
      <Image
        src={missionStatement}
        alt="Architect of ideas. Curator of style."
        class="w-full max-w-[500px] md:max-w-[30vw] h-auto"
      />
    </div>
  </section>
</Layout>
